			<!-- Main -->
				<div class="wrapper style2">
					<div class="title">Careers</div>
					<div id="main" class="container">

						<!-- Content -->
							<div id="content">
								<article class="box post">
									<header class="style1">
										<h2>Come work and argue with some of the best and brightest</h2>
									</header>
									<a href="#" class="image featured">
										<img src="./assets/images/careers.jpg" alt="" />
									</a>
									<div class="row 150%">
										<div class="4u 12u(mobile)">
											<section class="box">
												<h2>Full Stack Software Engineer</h2>
												<br>
												<button>Apply</button>
											</section>
											<section class="box">
												<h2>Director of Marketing</h2>
												<br>
												<button>Apply</button>
											</section>
											<section class="box">											
												<h2>Product Manager</h2>
												<br>
												<button>Apply</button>
											</section>
											<section class="box">
												<h2>Account Executive</h2>
												<br>
												<button>Apply</button>
											</section>
										</div>
									</div>
								</article>
								<div class="row 150%">
									<div class="4u 12u(mobile)">
										<section class="box">
											<header>
												<h2>The Motto</h2>
											</header>
											<img src="./assets/images/motto.jpg" alt="" height="350px;" width="350px;"/>
											<p>Teamwork, mentorship, and drive.
											We want the <br>most talented and hard
											working	people in the industry<br>
											to join us at SlipSlo.</p>
											<a class="button style1" routerLink="../motto" routerLinkActive="active">More</a>
										</section>
									</div>
									<div class="4u 12u(mobile)">
										<section class="box">
											<header>
												<h2>Experienced Professionals</h2>
											</header>
											<img src="./assets/images/jobs.jpg" alt="" height="350px;" width="350px;"/>
											<p>Training never ends.
											Recieve mentorship from some<br>
											of the best in the industry
											and help us grow SlipSlo.</p><br>
											<a class="button style1" routerLink="../professionals" routerLinkActive="active">More</a>
										</section>
									</div>
									<div class="4u 12u(mobile)">
										<section class="box">
											<header>
												<h2>University Recruiting</h2>
											</header>
											<img src="./assets/images/strategy.jpg" alt="" height="350px;" width="350px;"/>
											<p>Career Fairs we will be attending:
												<li> Wake Forest University</li>
												<li> Duke University</li>
												<li> UNC</li>
											</p>
											<a class="button style1" routerLink="../students" routerLinkActive="active">More</a>
										</section>
									</div>
								</div>
							</div>
					</div>
				</div>