<!-- Main -->
				<div class="wrapper style2">
					<div class="title">Vote</div>
					<div id="main" class="container">							
						<div id="main" class="container">
						<!-- Features -->
							<section id="features">
								<header class="style1">
									<h2>Vote for Topic of the Day</h2>
									<p> Most voted topic will be an option for tomorrow!</p>
								</header>						
								<ul class="actions actions-centered">
									<div>
										<img src="./assets/images/vote1.jpg" height="300px;" width="600px;">
									</div>
									<br>
									<li><a class="button style1" routerLink="../shorttermvote" routerLinkActive="active">Vote</a></li>
								</ul>
							</section>
							<section id="features">
								<header class="style1">
									<h2>Vote for Long Duration Topics</h2>
									<p> Most voted topics could become weekly, monthly, or even permanent options.</p>
								</header>						
								<ul class="actions actions-centered">
									<div>
										<img src="./assets/images/vote2.png" height="300px;" width="200px;">
									</div>
									<br>
									<li><a class="button style1" routerLink="../longtermvote" routerLinkActive="active">Vote</a></li>
								</ul>
							</section>
					</div>
				</div>
			</div>