
			<!-- Header -->

			<div id="page-wrapper">
				<div id="header-wrapper" class="wrapper">
					<div id="header">

						<!-- Logo -->
							<div id="logo">
                				<h1><a class="nav-link" routerLink="home" routerLinkActive="active">{{title}}</a></h1>
								<p class="style1">When you want to challenge your views or blow some steam</p>
							</div>

						<!-- Nav -->
							<nav id="nav">
								<ul>
									<li class="nav-item"><a class="nav-link" routerLink="home" routerLinkActive="active">Home</a></li>
									<li class="nav-item"><a class="nav-link" routerLink="debate" routerLinkActive="active">Debate</a></li>
									<li class="nav-item"><a class="nav-link" routerLink="vote" routerLinkActive="active">Vote</a></li>
									<li class="nav-item"><a class="nav-link" routerLink="submit" routerLinkActive="active">Submit</a></li>
									<li class="nav-item"><a class="nav-link" routerLink="careers" routerLinkActive="active">Careers</a></li>
								</ul>
							</nav>
					</div>
				</div>
			<router-outlet></router-outlet>
			<app-footer></app-footer>
		</div>
