			<!-- Intro -->
				<div id="intro-wrapper" class="wrapper style1">
					<div class="title">What is SlipSlo</div>
					<section id="intro" class="container">
						<p class="style1">So in case you were wondering what this is all about ...</p>
						<p class="style2">
							SlipSlo is a free site that allows users to discuss and argue controversial topics in today's society.
						</p>
						<p class="style3">The concept is easy, you choose a topic you want to discuss and the side that you will primarily be arguing. For example, you're a strong supporter of pro life and you have a research paper on abortion, but you need some viewpoints from a pro-choice standpoint, well you came to the right place. Just select abortion and choose pro life. You will then be matched up with someone with an opposite viewpoint in a private chatbox. The rest is on the two of you. </p>
					</section>
				</div>

			<!-- Main -->
				<div class="wrapper style2">
					<div class="title">The Details</div>
					<div id="main" class="container">

						<!-- Image -->
							<a href="#" class="image featured">
								<img src="./assets/images/banner.jpg">							
							</a>

						<!-- Features -->
							<section id="features">
								<header class="style1">
									<h2>What's the difference between Serious and Savage?</h2>
									<p>And what's up with Voting and Submitting?</p>
								</header>
								<div class="feature-list">
									<div class="row">
										<div class="6u 12u(mobile)">
											<section>
												<h3 class="icon fa-comment">Serious</h3>
												<p>To join Serious you need a username, which will be explained later. There is no age limit on Serious so the discussion has to be appropriate. Nothing vulgar. There are moderators. If you aren't taking it serious you can be reported. This feature will be coming in the future. </p>
											</section>
										</div>
										<div class="6u 12u(mobile)">
											<section>
												<h3 class="icon fa-refresh">Savage</h3>
												<p>Everything is <strong>Anonymous</strong>. That means there are no rules, no moderation, and no usernames. Anything goes besides having to be 18+.</p>
											</section>
										</div>
									</div>
									<div class="row">
										<div class="6u 12u(mobile)">
											<section>
												<h3 class="icon fa-picture-o">Submitting</h3>
												<p>I'm sure you'll get bored discussing the same topics over and over again. That's why there is a section where you can submit topic ideas to be added to the list. They could be added for a day, a week, or become a permanent topic.</p>
											</section>
										</div>
										<div class="6u 12u(mobile)">
											<section>
												<h3 class="icon fa-cog">Voting</h3>
												<p>How will topics be selected from the submission process? You guessed it, users can vote on their favorite ones.</p>
											</section>
										</div>
									</div>
									<div class="row">
										<div class="6u 12u(mobile)">
											<section>
												<h3 class="icon fa-wrench">Usernames</h3>
												<p>The reason you need a username is because there will be a leaderboard! Once you click finished on the chatbox a popup will appear asking both users if they want the discussion to go public. If both users say yes, your discussion will be publicly viewable and people can vote for a certain duration on who won. Everything will be recorded in your history and on the leaderboards. </p>
											</section>
										</div>
										<div class="6u 12u(mobile)">
											<section>
												<h3 class="icon fa-check">Careers</h3>
												<p>This is a growing website/company, so if you like the product and have talent, please check out the careers page for open positions.</p>
											</section>
										</div>
									</div>
								</div>
								<ul class="actions actions-centered">									
									<li><a class="button style1" routerLink="../debate" routerLinkActive="active">Get Debating</a></li>
									<li><a class="button style2 big" routerLink="../careers" routerLinkActive="active">Go To Careers</a></li>
								</ul>
							</section>

					</div>
				</div>

			
